.aboveFooter {
  width: 80%;
  background-color: #bbb;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.block {
  font-size: 12px;
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 120px;
}
