.arrowR {
  position: absolute;
  left: 25px;
  bottom: 120px;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.arrowL {
  position: absolute;
  bottom: 120px;
  right: 25px;
  height: 50px;
  width: 50px;
  z-index: 1;
}
