* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#next {
  display: none;
}

#prev {
  display: none;
}

#container {
  height: 60vh;
  width: 99%;
}

#container:hover {
  width: 99%;
}

#container :hover #next {
  display: block;
}

#container :hover #arrL {
  display: block;
  position: absolute;
  right: 0px;
  background-color: white;
  border-radius: 100%;
  padding: 8px;
}

#container :hover #prev {
  display: block;
}

#container :hover #arrR {
  display: block;
  position: absolute;
  left: 0px;
  background-color: white;
  border-radius: 100%;
  padding: 8px;
}

#arrR {
  background-color: white;
}

#arrR:hover {
  opacity: 0.5;
}

#arrL {
  background-color: white;
}

#arrL:hover {
  opacity: 0.5;
}

#container {
  margin: 100px auto;
}